*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.fonts{
    font-size: 15px;
}
.span-color{
    font-size: 22px;
    color:$voilet;
    font-weight: 900;
}

.font-color{
    color:$voilet
}